*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON  */
body{
    background-color: #083B4C;
    font-family: Arial, Helvetica, sans-serif;

}

h1{
    font-size: 6rem;
    color: white;
    text-align: center;
    margin: 5rem;
}
ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 8%; 
}

/* MAIN  */
.square{
    height: 150px;
    width: 150px;
    line-height: 150px;
    text-align: center;
    margin: 1rem;
    background-color: #1389B2;
    font-size: 1.8rem;
}

.fizz{
    background-color: #0AD6A1;
}
.buzz{
    background-color: #FFD166;
}
.fizzbuzz{
    background-color: #F0466F;
}